
@font-face {
    font-family: "Raleway";
    src: url("./font/Raleway-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    color: black;
    --blue-main: #0065FC;
    --blue-light:#DEEBFF;
    --grey:#F2F2F2;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    --test-border: 2px solid grey;
}


html {
    scroll-behavior: smooth;
/*     max-width: 1366px; */
    margin: auto;
}

h2 {
    font-size: 20.8px;
}

h3, a, p {
    font-size: 15.2px;
}

span {
    font-size: 13.5px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

i {
    font-size: 18px;
}

.header {
    display: flex;
    padding: 49px 36px 33px 43px;
    justify-content: space-between;
}

.header-logo {
    width: 90px;
    margin-left: 8px;
}

.header-nav-element {
    padding: 45px 36px 0px 25px;
}

.header-nav .active {
    border-top: 4px solid var(--blue-main);
    color: var(--blue-main);
}

.main {
    margin: 0 47px;
}

.main-inputs {
    margin: 0 4px;
}

.main-title {
    margin-bottom: 7px;
}

.main-search {
    margin: 17px 0;
    width: 445px;
    display: flex;
    border-radius: 10px;
}

.main-icon {
    padding: 16px 17px;
    border-radius: 30% 0 0 30%;
    background-color: var(--grey);
}

.main-input {
    width: 223px;
    border: 2px solid var(--grey);
}

.main-button {
    background-color: var(--blue-main);
    padding: 0 15px;
    border: 2px solid var(--grey);
    border-radius: 0 20px 20px 0;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
}

.main-button span {
    font-size: 17.5px;
}

.main-button:active {
    transform: scale(0.85);
}

#mobile-button, #desktop-button {
    color: whitesmoke;
}

#mobile-button {
    display: none;
}

.main-filters {
    margin: 29px 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-filters-title {
    margin-right: 28px;
    font-size: 17.5px;
}

.main-filters-button {
    border: 2px solid lightgray;
    border-radius: 40px;
    background-color: white;
    margin-right: 20px;
    user-select: none;
    font-weight: 600;
    cursor: pointer;
}

.main-filters-icon {
    background-color: var(--blue-light);
    border-radius: 50%;
    padding: 13px;
    color: var(--blue-main);
}

#familial-icon {
    padding: 13px 17px;
}

.checkbox {
    display: none;
}

.main-filters-box {
    cursor: pointer;
    padding-right: 20px;
    border-radius: 50px;
}

.main-filters-box:hover {
    background-color: var(--blue-light);
    transition: 0.7s;
}

.checkbox:checked ~ .main-filters-box {
    background-color: var(--blue-main);
    transition: 1s;
}

.checkbox:checked ~ .main-filters-box label {
    color: white;
    transition: 0.5s;
}

.main-filters-box label {
    font-size: 17.5px;
    margin-left: 8px;
}

.main-info {
    margin: 32px 0px;
    display: flex;
    align-items: center;
}

.main-info-icon {
    color: var(--blue-main);
    border: 2px solid lightgray;
    text-align: center;
    padding: 5px 9px;
    border-radius: 50%;
}

.main-info i {
    font-size: 12px;
}

.main-info-text {
    margin-left: 11px;
}

.main-products {
    display: flex;
    justify-content: space-between;
}

.main-lodgings-thumbnail, .main-favorites-thumbnail, .main-activities-thumbnail {
    box-shadow: 5px 5px 13px 0px #D1D3D6;
}

.main-lodgings {
    background-color: var(--grey);
    border-radius: 25px;
    padding: 42px 38px;
    width: 65.75%;
}

.main-lodgings-elements h3, .main-lodgings-elements span {
    margin-top: 5.5px;
}

.main-lodgings-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 9px;
}

.main-lodgings-thumbnail {
    background-color: white;
    border: 5px solid white;
    margin-bottom: 27px;
    border-radius: 20px;
    transition: 500ms;
    width: 31%;
}

.main-lodgings-thumbnail:hover {
    transform: scale(1.075);
}

.main-lodgings-elements {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.main-stars i {
    margin: 8px 0;
    font-size: 57%;
    color: var(--blue-main);
}

.main-lodgings-image {
    width: 100%;
    height: 109px;
    object-fit:cover;
    border-radius: 15px 15px 0 0 ;
}

.main-favorites {
    background-color: var(--grey);
    border-radius: 25px;
    width: 31.25%;
    padding: 42px 35px 0;
}

.main-favorites-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main-favorites-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-favorites-thumbnail {
    width: 100%;
    border: 6px solid white;
    margin-bottom: 31px;
    border-radius: 20px;
    transition: 500ms;
    overflow: hidden;
}

.main-favorites-thumbnail article {
    display: flex;
    background-color: white;
}


.main-favorites-thumbnail:hover {
    transform: scale(1.075);
}

.main-favorites-thumbnail li {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
}

.main-favorites-image {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    width: 38.5%;
    min-height: 125px;
}

.main-favorites-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px 0;
    width: 62%;
}

.main-favorites-text h3 {
    margin-bottom: 5px;
}

.load-more {
    margin-top: 5px;
}

.load-more span {
    font-weight: 800;
    font-size: 17.5px;
    margin-top: 10px;
}

.main-activities {
    margin: 59px 0;
}

.main-activities-title {
    font-size: 170%;
    margin-bottom: 1.8%;
}

.main-activities-thumbnail-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 19px;
    height: 426px;
}

.main-activities-thumbnail {
    border: 2px solid var(--grey);
    border-radius: 20px;
    transition: 500ms;
    overflow: hidden;
    width: 22.75%;
}

.main-activities-thumbnail:hover {
    transform: scale(1.075);
}

.main-activities-thumbnail h3 {
    padding: 16px;
}

.main-activities-images {
    object-fit: cover;
    width: 100%;
}
 
.footer {
    width: 100%;
    background-color: var(--grey);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 12px;
}

.footer-about {
    width: 31.5%;
    padding: 29px 47px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer-about a {
        margin-top: 13.5px;
}

.footer-about h3 {
    margin-bottom: 4px;
    font-size: 17px;
}

@media screen and (min-width:992px) {
    #activity-1 {
        height: 369px;
    }
    
    #activity-2 {
        height: 171px;
        object-position: 50% 40%;
    }
    
    #activity-3 {
        height: 103px;
        object-position: 50% 15%;
    }
    
    #activity-4 {
        height: 369px;
    }
    
    #activity-5 {
        height: 132px;
        object-position: 50% 10%;
    }
    
    #activity-6 {
        height: 142px;
        object-position: 50% 0%;
    }
    
}

@media screen and (max-width:992px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 45px 0 0;
    }
    .header-logo {
        width: 25%;
    }
    .header-nav {
        display: flex;
        width: 100%;
        margin: 4%;
    }
    .header-nav-element {
        text-align: center;
        padding: 17px 0 12px;
        width: 100%;
    }
    .header-nav .active {
        border-bottom: 3px solid var(--blue-main);
        border-top: none;
        color: var(--blue-main);
    }
    .main-products {
        flex-direction: column-reverse;
    }
    .main-favorites {
        margin-bottom: 38px;
        width: 100%;
    }
    .main-favorites-image {
        width: 39%;
        height: 133px;
    }
    .main-lodgings {
        width: 100%;
    }
    .main-activities-thumbnail-list {
        height: 620px;
    }
    .main-activities-thumbnail {
        width: 48.75%;
    }
    .main-activities-images {
        height: 135px;
    }
    .footer-about {
        width: 100%;
        padding: 24px 40px;
    }
}

@media screen and (max-width:768px) {
    h2 {
        font-size: 21.95px;
    }
    
    h3, a, p {
        font-size: 16px;
    }
    
    span {
        font-size: 14px;
    }
    .main-inputs, .main-lodgings, .main-activities {
        padding: 0 5.25%;
    }
    .header, .main {
        margin: 0;
    }
    .main-title-div {
        margin: 17px 0 -2px;
    }
    .main-title {
        margin-bottom: 16px;
    }
    .main-icon {
        padding: 17px 20px;
        font-size: 112%;
    }
    .main-search {
        margin: 34px 0px;
        display: flex;
        width: 106%;
    }
    .main-input {
        width: 250px;
    }
    .main-button {
        padding: 16px 18px;
        border: none;
        border-radius: 15px;
        transform: translate(-20px, 0);
    }
    #mobile-button {
        display: block;
    }
    #desktop-button {
        display: none;
    }
    .main-filters {
        margin: 0;
    }
    .main-filters-title {
        font-size: 18px;
        width: 100%;
    }
    .main-filters-icon {
        padding: 15px;
    }
    #familial-icon {
        padding: 15px 17px;
    }
    .main-filters-button {
        border: 2px solid lightgray;
        margin: 13.5px 7px 0 0;
    }
    .main-filters-box {
        padding-right: 18px;
    }
    .main-filters-box i {
        font-size: 16px;
    }
    .main-filters-box label {
        font-size: 16px;
    }
    .main-info {
        margin: 35px 0;
    }
    .main-info-icon {
        padding: 5px 9px;
        font-size: 12px;
        transform: translate(2px,-10px);
    }
    .main-favorites {
        border-radius: 0;
        padding: 40px 20px 25px;
        margin-bottom: 38px;
    }
    .main-favorites-thumbnail {
        margin: 10.5px 0 0 0;
    }
    .main-favorites-title i {
        font-size: 125%;
    }
    .main-favorites-text {
        padding: 13px 24px 0px 20px;
    }
    .main-favorites-text h3 {
        margin-bottom: 6px;
    }
    .main-lodgings {
        background:none;
    }
    .main-lodgings-list {
        margin-top: 5px;
    }
    .main-lodgings-thumbnail {
        width: 100%;
        margin: 9.5px 0 0;
    }
    .main-lodgings-elements {
        margin: 0 10px;
    }
    .main-stars i {
        margin: 7px 0;
    }
    .load-more span {
        display: block;
        font-size: 18px;
        margin: 30px 0 0 0;
    }
    .main-activities {
        margin: 54px 0px 32px;
    }
    .main-activities-thumbnail-list {
        height: auto;
    }
    .main-activities-thumbnail {
        width: 100%;
    }
    .main-activities-thumbnail h3 {
        padding: 16px;
        margin-left: 3px;
    }
    .main-activities-thumbnail {
        margin-bottom: 18px;
    }
    .footer {
        flex-direction: column;
        width: 100%;
        padding: 23px 0;
    }
    .footer-about {
        padding: 22px 31px;
    }
    .footer-about h3 {
        font-size: 18px;
    }
    .footer-about a {
        margin-top: 13px;
    }
}
