@font-face {
    font-family: 'PaytoneOne-Regular';
    src: url('./fonts/PaytoneOne-Regular.ttf');
}

$default-font-family: 'PaytoneOne-Regular', Arial, Helvetica, sans-serif;

$blue-background: rgb(135, 171, 230);
$white-classic: whitesmoke;
$grey-hover: rgb(126, 126, 126);

$grey-chart: rgb(156, 156, 157);
$pink-chart: rgb(221, 195, 231);
