@font-face {
  font-family: 'PaytoneOne-Regular';
  src: url("./fonts/PaytoneOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PaytoneOne-Regular", Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}

body {
  background-color: whitesmoke;
  width: 100%;
  min-height: 100%;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #87abe6;
  font-size: 2rem;
  height: 7rem;
  padding: 0.8rem;
  padding-right: 5rem;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: black;
  color: whitesmoke;
}

.navBar .navElement {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

.navBar .navElement:hover {
  background-color: #7e7e7e;
}

.navBar .navElement:visited {
  color: inherit;
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPage .homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 85%;
  height: 50%;
}

.welcomeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.welcomeBlock .welcomeTitle {
  padding: 1rem 0;
  text-align: center;
}

.welcomeBlock .welcomeBody {
  max-width: 70%;
  text-align: center;
  font-size: 130%;
}

.themeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  list-style: none;
  max-width: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.themeList .themeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 12rem;
  min-height: 12rem;
  margin: 1rem;
  background-color: #87abe6;
  border-radius: 20px;
}

.themeList .themeButton .themeIcons {
  font-size: 4rem;
  padding: 1.5rem;
}

.themeList .themeButton .themeName {
  text-align: center;
  font-size: 120%;
}

.themeList .themeButton:hover {
  border: 2px black solid;
}

.themeCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.themeCategory .themeCategoryIcon {
  font-size: 4rem;
  padding: 2rem;
  margin: 3rem;
  border-radius: 20px;
  background-color: #87abe6;
}

.themeCategory .articleList {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.themeCategory .articleList .articleButton {
  background-color: lightgray;
  border-radius: 20px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "icone title" "icone description";
}

.themeCategory .articleList .articleButton .articleButtonIcon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icone;
  margin: auto;
  font-size: 300%;
}

.themeCategory .articleList .articleButton .articleButtonTitle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  margin-left: 1rem;
}

.themeCategory .articleList .articleButton .articleButtonDescription {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: description;
  margin-left: 1rem;
}

.themeCategory .articleList .articleButton:hover {
  border: 2px black solid;
}

@media screen and (min-width: 900px) {
  .article {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 899px) {
  .article {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.article .articleHead {
  padding: 1rem;
}

.article .articleChart {
  width: 60%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  padding-top: 2rem;
  list-style: none;
}

.footer .footerElement {
  padding: 0.5rem 2rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */